html,
body {
	height: 100%;
	font-family: 'Century Gothic', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #476772;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
}

hr {
	height: 0;
	width: 70%;
	max-width: 600px;
	border: 0;
	border-top: 1px solid #f2f2f2;
	margin: 2em auto 0;
}

a {
	color: #526870;
	text-decoration: none;
	-moz-transition: color 0.2s;
	-o-transition: color 0.2s;
	-webkit-transition: color 0.2s;
	transition: color 0.2s;
}

	a:hover {
		color: #dd3a82;
	}

.container {
	max-width: 800px;
	width: 90%;
	margin: auto;
}

.site-header {
	background-image: url(/img/header.jpg);
	background-position: bottom;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	width: 100%;
	min-height: 45%;
	padding: 20px 0;
	color: #fff;
	text-align: center;
}

.site-logo {
	width: 100px;
	background-color: rgba(255, 255, 255, 0.3);
	border-radius: 30em;
	padding: 16px;
}

.site-title {
	font-size: 4em;
	padding: 0.75em 0 0.5em;
}

.site-description {
	font-size: 1.2em;
	color: #c4c4c4;
}

.section {
	padding: 30px 0 0;
}

.section-header {
	font-size: 3em;
}

.section-sub-header {
	font-size: 1.25em;
	color: #a3a3a3;
	padding: 0 0 0 15px;
	border-left: 1px solid #b0dae9;
}

.muted {
	color: #a3a3a3;
}
