---
layout: banner
---

<div class="content animated fadeInUp">
	{% if paginator.total_pages > 1 %}
		{% if paginator.previous_page %}
		<div class="container grid grid-small-full grid-medium-full grid-center centered padding">
			<div class="cell">
				<a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Previous posts</a>
			</div>
		</div>
		{% endif %}
	{% endif %}

	{% for post in paginator.posts %}
	<section class="section container">
		<div class="grid grid-small-full grid-medium-full grid-center">
			<h2 class="section-header cell"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>

			<div class="section-sub-header cell cell-width-65">{{ post.description }}</div>
		</div>
		<div class="grid grid-medium-full">
			<div class="section-body cell">
				<p>
					{{ post.intro }}
				</p>
			</div>
		</div>
	</section>
	<hr/>
	{% endfor %}

	{% if paginator.total_pages > 1 %}
		{% if paginator.next_page %}
		<div class="container grid grid-small-full grid-medium-full grid-center centered padding">
			<div class="cell">
				<a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">More posts</a>
			</div>
		</div>
		{% endif %}
	{% endif %}

</div>
