<script src="http://yandex.st/highlightjs/8.0/highlight.min.js"></script>
<script>
	hljs.initHighlightingOnLoad();
	window.onload = function () {
		window.setTimeout(function(){
			document.querySelector('.site-logo').classList.add('bounceIn');
		}, 1500);
	};
</script>

<script>
	(function (i, s, o, g, r, a, m) {
	    i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
	        (i[r].q = i[r].q || []).push(arguments)
	    }, i[r].l = 1 * new Date(); a = s.createElement(o),
		m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
	})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

	ga('create', 'UA-36978977-3', 'grumpywizards.com');
	ga('send', 'pageview');

</script>
